* {
	font-family: "Times New Roman", "Times", "serif";
}

body {
	box-sizing: border-box;
	margin: 0;
	height: 100%;
}

#mainContent {
	position: relative;
	height: 100vh;
	background-image: url(./image/iaq_bg.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #88D1FC;
}

#pageController {
	display: flex;
}

#page_title {
	display: flex;
	justify-content: space-between;
}

.hide {
	display: none;
}

#calendar {
	margin-top: 2rem;
	background-color: black;
	width: 90%;
	height: 80%;

}